{#{% extends 'common.html' %}#}
{#{% block body %}#}
{#        <h1>Hi hi hi</h1>#}
{#        <img src="../static/coffee-beans.jpeg">#}
{#<ul>#}
{#    {% for fruit in fruits %}#}
{#    <li>{{ fruit }}</li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% if 'Mango' in fruits %}#}
{#    <p>Mango exists in the list!</p>#}
{#{% else %}#}
{#    <p>Mango does not exist in the list</p>#}
{#{% endif %}#}
{#    <div class="jumbotron">#}
{#        <h1>Index</h1>#}
{#        <form method="POST">#}
{#            <input type="password" name="password">#}
{#            <input type="submit">#}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'common.html' %}
{% block body %}
<form method="POST">
    Name: <input type="text" name="name" />
    Age: <input type="text" name="age" />
    <input type="submit">
</form>
{% endblock %}